<pennlibs-footer>
  <section>
    <h2><%= t('footer.digital_collections.heading') %></h2>
    <%= link_to t('footer.digital_collections.home'), home_path %>
    <%= link_to t('footer.digital_collections.about'), about_path %>
    <%= link_to t('footer.digital_collections.collections'), collections_path %>
  </section>
</pennlibs-footer>

<pennlibs-chat></pennlibs-chat>
