/*
* This is a manifest file that'll be compiled into application.css.
*
* With Propshaft, assets are served efficiently without preprocessing steps. You can still include
* application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
* cascading order, meaning styles declared later in the document or manifest will override earlier ones,
* depending on specificity.
*
* Consider organizing styles into separate files for maintainability.
*/
@import url(blacklight.css);
@import url('blacklight_gallery/gallery.css');

/**
* Penn Libraries Design System
*
* These are styles that are being made to be hoisted out of the application.css into
* the design system web package, but they're being worked here for now. Once
* they're moved, we can remove this import.
*/
@import url('pl-root.css');
@import url('pl-spacing.css');
@import url('pl-reset.css');
@import url('pl-typeset.css');
@import url('pl-line-length.css');
@import url('pl-font-size.css');

/**
* Bootstrap
*/
@import url('bootstrap-root.css');
@import url('bootstrap-btn.css');
@import url('bootstrap-pagination.css');

/**
* Digital Collections styling
*/
@import url('root.css');
@import url('home.css');

.section {
	padding: 4rem 0;
}

.section:nth-child(2) {
	background: #eeeff4
}

pennlibs-hero .header-search__link {
	color: var(--color-fg-on-emphasis);
	text-shadow: 1px 1px 2px var(--color-fg-default);
}
