.document-counter {
  font-size: var(--pl-font-size-base);
  color: var(--pl-color-fg-subtle);
}

.document-title-heading {
  font-size: var(--pl-font-size-xl);
  margin-bottom: var(--pl-space-base);
}

.documents-list .document {
  --bl-results-document-margin-top: var(--pl-space-2xl);
  --bl-results-document-padding-top: 0;
  display: grid;
  gap: var(--pl-space-lg);
  border: 0;
  grid-template-columns: 7rem 1fr;

  @media (min-width: 992px) {
    grid-template-columns: 12rem 1fr;
  }

  @media (min-width: 1400px) {
    grid-template-columns: 12rem 1fr;
  }

  & .document-title-heading a {
    font-weight: 600;
    text-decoration: none;
    font-size: var(--pl-font-size-xl);

    &:hover {
      text-decoration: underline;
    }
  }
}

.documents-list .document .document-thumbnail {
  margin: 0;
  padding: 0;
  grid-column: 1;
  grid-row: 1;

  & :is(img, pennlibs-fallback-img) {
    width: 100%;
    box-shadow: rgba(140, 149, 159, 0.3) 0px 3px 6px 0px;
    border-radius: 0.5rem;
  }
}

.documents-list .document .document-main-section {
  grid-column: 2;
  grid-row: 1;
}

.document-metadata dt {
  text-align: left;
  font-weight: 600;
  color: var(--pl-color-fg-default);
}

.document-metadata dd a {
  color: var(--color-fg-default);
  text-decoration-style: dotted;
  font-weight: 400;
  text-decoration-color: var(--pl-color-fg-subtle);

  &:hover {
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--pl-color-fg-default);
  }
}

.documents-gallery {
  display: grid;
  gap: var(--pl-space-lg) var(--pl-space-base);
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  grid-column-start: 2;
  list-style: none;
  padding-left: 0;

  & .document-thumbnail img {
    width: 100%;
    margin-bottom: var(--pl-space-sm);
    box-shadow: rgba(140, 149, 159, 0.3) 0px 3px 6px 0px;
    border-radius: var(--pl-space-sm);
  }

  & .document-title-heading {
    margin-bottom: 0;
    font-size: var(--pl-font-size-base);
    line-height: 1.4;

    & a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  & .document-metadata {
    display: block;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);

    & dt {
      clip: rect(0 0 0 0); 
      clip-path: inset(50%);
      height: 1px;
      overflow: hidden;
      position: absolute;
      white-space: nowrap; 
      width: 1px; 
    }

    & dd {
      display: inline;
      margin: 0;
      padding: 0;
      padding-right: 0.25rem;
    }

    & dd a {
      color: var(--pl-color-fg-subtle);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .document-counter {
    display: inline;
  }
}