.btn {
  --bs-btn-border-radius: var(--pl-space-base);
}

.btn-primary {
  --bs-btn-color: var(--color-fg-on-emphasis);
  --bs-btn-bg: var(--color-bg-accent-emphasis);
  --bs-btn-border-color: var(--color-bg-accent-emphasis);
  --bs-btn-hover-color: var(--color-fg-on-emphasis);
  --bs-btn-hover-bg: var(--color-bg-accent-emphasis);
  --bs-btn-hover-border-color: var(--color-bg-accent-emphasis);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--color-fg-on-emphasis);
  --bs-btn-active-bg: var(--color-bg-accent-emphasis);
  --bs-btn-active-border-color: var(--color-bg-accent-emphasis);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--color-fg-on-emphasis);
  --bs-btn-disabled-bg: var(--color-bg-accent-emphasis);
  --bs-btn-disabled-border-color: var(--color-bg-accent-emphasis);
}

.btn-outline-secondary {
  --bs-btn-color: var(--color-fg-default);
  --bs-btn-border-color: var(--color-bg-subtle);
  --bs-btn-hover-color: var(--color-fg-default);
  --bs-btn-hover-bg: var(--color-bg-subtle);
  --bs-btn-hover-border-color: var(--color-fg-subtle);
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-color: var(--color-fg-on-emphasis);
  --bs-btn-active-bg: var(--color-bg-accent-emphasis);
  --bs-btn-active-border-color: var(--color-bg-accent-emphasis);
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: var(--color-fg-default);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: none;
  --bs-gradient: none;
  --bs-btn-bg: var(--color-bg-subtle);
}