.dc-home-sections {
  & .dc-collections {
    display: flex;
    gap: var(--pl-space-2xl) var(--pl-space-xl);
    flex-wrap: wrap;
    justify-content: center;
  }

  & h2::after {
    background: #EEAA64;
  }

  & section:nth-child(2) {
    background: var(--pl-color-bg-subtle-brand);
  }
}

@media (min-width: 720px) {
  .dc-home-sections li {
    max-width: 18rem;
  }
}