.dc-home-sections {
  & .dc-collections {
    display: flex;
    gap: var(--pl-space-2xl) var(--pl-space-xl);
    flex-wrap: wrap;
    padding: 0 var(--viewport-margins-gutter, 1rem);
    justify-content: center;

    & li {
      max-width: 18rem;
    }
  }

  & h2::after {
    background: #EEAA64;
  }

  & section:nth-child(2) {
    background: var(--pl-color-bg-subtle-brand);
  }
}