.dc-search-box {
  margin: 0 auto;
  background: var(--color-bg-default);
  box-shadow: rgba(140, 149, 159, 0.2) 0px 3px 6px 0px;
  flex-grow: 1;
  border-radius: 1.125rem;
  padding: var(--pl-space-xs);
  box-shadow: rgba(140, 149, 159, 0.2) 0px 3px 6px 0px;
  border: solid 1px var(--color-fg-subtle);

  & .search-query-form {
    width: 100%;
  }

  & auto-complete {
    border: none;
  }

  & .input-group {
    gap: var(--pl-space-base);
  }

  & .search-q {
    border-radius: 1.125rem !important;
    border: solid 1px var(--color-fg-subtle);
    background: none;
    font-size: var(--pl-font-size-lg);
    padding: 0 var(--pl-space-base) !important;

    &::placeholder {
      color: var(--color-fg-subtle);
    }
  }

  & button.search-btn {
    border-radius: var(--pl-border-radius-base) !important;
    padding: var(--pl-space-sm) var(--pl-space-base);
    font-size: var(--pl-font-size-lg);


    @media (min-width: 768px) {
      padding: var(--pl-space-sm) var(--pl-space-lg);
      
      & .blacklight-icons-search {
        display: none;
      }
    }
  }

  & *:focus {
    box-shadow: 0 0 0 2px var(--color-bg-accent), 0 0 0 4px var(--color-fg-default) !important;
    outline: none !important;
  }
}

.pennlibs-hero .dc-search-box {
  border: none;
}