/* Font size utility classes */
.pl-font-size-xs {
  font-size: var(--pl-font-size-xs);
}

.pl-font-size-sm {
  font-size: var(--pl-font-size-sm);
}

.pl-font-size-base {
  font-size: var(--pl-font-size-base);
}

.pl-font-size-lg {
  font-size: var(--pl-font-size-lg);
}

.pl-font-size-xl {
  font-size: var(--pl-font-size-xl);
}

.pl-font-size-2xl {
  font-size: var(--pl-font-size-2xl);
}

.pl-font-size-3xl {
  font-size: var(--pl-font-size-3xl);
}

.pl-font-size-4xl {
  font-size: var(--pl-font-size-4xl);
}

.pl-font-size-5xl {
  font-size: var(--pl-font-size-5xl);
}
