:root {
  --pl-color-penn-red: #990000;
  --pl-color-penn-blue: #011F5B;

  --pl-color-gray-dark: #2D3545;
  --pl-color-gray: #595F6A;
  --pl-color-gray-light: #F5F5F6;

  --pl-color-gray-blue-light: #EEEEF4;
  
  --pl-color-white: #FFFFFF;

  --pl-color-blue: #0E5696;
  --pl-color-blue-light: #D4E4F2;

  --pl-color-green: #267434;
  --pl-color-green-light: #F1F7E1;

  --pl-color-orange: #BD4718;
  --pl-color-orange-light: #FEEDDD;

  --pl-color-purple: #80317F;
  --pl-color-purple-light: #F2DFED;

  --pl-color-bg-gradient-1: linear-gradient(45deg, rgba(200, 219, 232, 0.8), rgba(239, 210, 215, 0.8));
  --pl-color-bg-gradient-2: linear-gradient(45deg, #dbe9f5, #feefdf);

  --pl-font-size: 16px;
  --pl-font-sans-serif: proxima-nova, system-ui, sans-serif;
  --pl-font-serif: cormorant-garamond, serif;

  --pl-link-text-underline-offset: 0.2em;
  --pl-link-text-decoration-thickness: 1px;
  --pl-link-hover-text-decoration-thickness: 2px;

  --pl-max-width: 1280px;
  --pl-viewport-margins-gutter: 1rem;

  --pl-color-fg-default: var(--pl-color-gray-dark);
  --pl-color-fg-subtle: var(--pl-color-gray);

  --pl-color-fg-subtle-on-emphasis: var(--pl-color-gray-light);
  --pl-color-fg-on-emphasis: var(--pl-color-white);

  --pl-color-fg-accent: var(--pl-color-blue);
  --pl-color-fg-success: var(--pl-color-green);
  --pl-color-fg-attention: var(--pl-color-orange);
  --pl-color-fg-info: var(--pl-color-purple);

  --pl-color-bg-default: var(--pl-color-white);
  --pl-color-bg-subtle: var(--pl-color-gray-light);
  --pl-color-bg-subtle-brand: var(--pl-color-gray-blue-light);
  --pl-color-bg-emphasis: var(--pl-color-gray-dark);

  --pl-color-bg-accent: var(--pl-color-blue-light);
  --pl-color-bg-success: var(--pl-color-green-light);
  --pl-color-bg-attention: var(--pl-color-orange-light);
  --pl-color-bg-info: var(--pl-color-purple-light);

  --pl-color-bg-accent-emphasis: var(--pl-color-blue);
  --pl-color-bg-success-emphasis: var(--pl-color-green);
  --pl-color-bg-attention-emphasis: var(--pl-color-orange);
  --pl-color-bg-info-emphasis: var(--pl-color-purple);

  --pl-link-visited-color: var(--pl-color-purple);

  --pl-font-family: var(--pl-font-sans-serif);


  /* Font size tokens */
  --pl-font-size-4xl: 2.75rem;
  --pl-font-size-3xl: 2.25rem;
  --pl-font-size-2xl: 1.5rem;
  --pl-font-size-xl: 1.25rem;
  --pl-font-size-lg: 1.125rem;
  --pl-font-size-base: 1rem;
  --pl-font-size-sm: 0.875rem;
  --pl-font-size-xs: 0.75rem;

  /* Spacing tokens */
  --pl-space-2xs: 0.125rem;
  --pl-space-xs: 0.25rem;
  --pl-space-sm: 0.5rem;
  --pl-space-md: 0.75rem;
  --pl-space-base: 1rem;
  --pl-space-lg: 1.5rem;
  --pl-space-xl: 2rem;
  --pl-space-2xl: 3rem;
  --pl-space-3xl: 4rem;

  --pl-border-radius-subtle: 0.125rem;
  --pl-border-radius-base: 1rem;

  --pl-focus-box-shadow: 0 0 0 2px var(--pl-color-bg-accent), 0 0 0 4px var(--pl-color-fg-default);
}

.viewport-margins,
.pl-viewport-margins {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--viewport-margins-gutter, 1rem);
  width: 100%;
}

.pl-viewport-margins--full {
  max-width: 100%;
/*
  Prevents a flash of unstyled content (FOUC) while custom elements are loading.
  Ensures that elements are only visible once they're fully defined and ready to be displayed.
*/
:not(:defined) {
  visibility: hidden;
}
