:root {
  /* Font size tokens */
  --pl-font-size-5xl: 3.25rem;
  --pl-font-size-4xl: 2.75rem;
  --pl-font-size-3xl: 2.25rem;
  --pl-font-size-2xl: 2rem;
  --pl-font-size-xl: 1.25rem;
  --pl-font-size-lg: 1.125rem;
  --pl-font-size-base: 1rem;
  --pl-font-size-sm: 0.875rem;
  --pl-font-size-xs: 0.75rem;

  /* Spacing tokens */
  --pl-space-2xs: 2px;
  --pl-space-xs: 4px;
  --pl-space-sm: 8px;
  --pl-space-base: 16px;
  --pl-space-lg: 24px;
  --pl-space-xl: 36px;
  --pl-space-2xl: 72px;
}