:root {
  /* Font size tokens */
  --pl-font-size-5xl: 3.25rem;
  --pl-font-size-4xl: 2.75rem;
  --pl-font-size-3xl: 2.25rem;
  --pl-font-size-2xl: 2rem;
  --pl-font-size-xl: 1.25rem;
  --pl-font-size-lg: 1.125rem;
  --pl-font-size-base: 1rem;
  --pl-font-size-sm: 0.875rem;
  --pl-font-size-xs: 0.75rem;

  /* Spacing tokens */
  --pl-space-2xs: 0.125rem;
  --pl-space-xs: 0.25rem;
  --pl-space-sm: 0.5rem;
  --pl-space-base: 1rem;
  --pl-space-lg: 1.5rem;
  --pl-space-xl: 2rem;
  --pl-space-2xl: 3rem;
  --pl-space-3xl: 4rem;

  --pl-border-radius-subtle: 0.125rem;
  --pl-border-radius-base: 1rem;
}