<% #Overridden from Blacklight9.0.0beta1@de5ddb to add custom class on the metadata slot component %>
<% # container for all documents in index list view  -%>
<% view_config = local_assigns[:view_config] || blacklight_config&.view_config(document_index_view_type) %>
<% document_component = view_config.document_component %>
<div id="documents" class="documents-<%= view_config&.key || document_index_view_type %>">
  <% presenters = documents.map { |doc| document_presenter(doc) }-%>
  <%presenters.each_with_index do |presenter, i| %>
    <%= render document_component.new(document_component.collection_parameter => presenter, counter: document_counter_with_offset(i), partials: view_config&.partials) do |component| %>
      <% component.with_metadata(classes: 'pl-dl--inline') %>
    <% end %>
  <% end %>
</div>
