<h1><%= t('collections.header') %></h1>
<p><%= t('collections.description') %></p>

<%= render(CollectionListComponent.new) do |component| %>
  <% component.with_collections(Settings.collections.map(&:to_h)) %>
<% end %>