<% content_for :page_title do %>
  <%= t 'collections.page_title', application_name: t('blacklight.application_name') %>
<% end %>

<div class="pl-viewport-margins">
  <h1 class="pl-margin-b-lg pl-margin-t-xl"><%= t('collections.header') %></h1>
  <p class="pl-margin-b-2xl pl-font-size-l pl-line-length">
    <%= t('collections.description_html', lookup_link: link_to('search for a collection', search_facet_path(id: 'collection_ssim'), data: { blacklight_modal: 'trigger', turbo: false })) %>
  </p>
</div>

<div class="pl-viewport-margins pl-margin-b-3xl" style="max-width: 100%;">
  <%= render(FeaturedListComponent.new(facet: 'collection_ssim')) do |component| %>
    <% component.with_facets(Settings.digital_repository.collections.map(&:to_h)) %>
  <% end %>
</div>