<div class="pl-viewport-margins">
  <h1 class="pl-margin-b-lg pl-margin-t-2xl"><%= t('collections.header') %></h1>
  <p class="pl-margin-b-3xl pl-font-size-l pl-line-length"><%= t('collections.description') %></p>
</div>

<div class="pl-viewport-margins dc-collections-container pl-margin-b-3xl">
  <%= render(CollectionListComponent.new) do |component| %>
    <% component.with_collections(Settings.collections.map(&:to_h)) %>
  <% end %>
</div>