<%# Copied template from Blacklight v9.0 to add display of parallel title field %>
<header class="documentHeader row">
<h1>
  <span itemprop="name"><pennlibs-expand-text><%= @presenter.document.main_title %></pennlibs-expand-text></span>
    <% @presenter.document.parallel_title.each do |title| %>
      <br>
      <pennlibs-expand-text><%= title %></pennlibs-expand-text>
    <% end %>
</h1>
</header>