<%# Overrides component from Blacklight v9.0.0 to:
      - update styles and html elements
      - add collections link %>
<%= tag.div class: 'd-flex align-items-center gap-3', role: 'navigation', aria: { label: t('blacklight.search.header') } do %>
  <div class="flex-grow-1">
    <%= search_bar %>
  </div>
  <%= link_to t('blacklight.search.link.all_collections'), collections_path, class: 'd-none d-lg-block header-search__link' %>
<% end %>
