<%# Overrides Blacklight 9 search_navbar_component.html.erb %>
<%= tag.div class: 'viewport-margins', role: 'navigation', aria: { label: t('blacklight.search.header') } do %>
  <div class="d-flex align-items-baseline gap-4">
    <div class="flex-grow-1">
      <%= search_bar %>
    </div>
    <a href="/" class="d-none d-sm-block header-search__link">All Collections</a>
  </div>
<% end %>
